$size: 6vw;



button.prev  {
  cursor: pointer;
background-image: url(../assets/images/arrow1.png);
height: 40px;
width: 40px;
margin: 0 15px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border: none;
background-color: transparent;
transform: rotate(180deg);
}

button.prev:hover {
transform: scale(1.2) rotate(180deg )
}

button.prev:active{
background-image: url(../assets/images/arrow2.png);
transform: scale(1.1) rotate(180deg ) 
}



button.next  {
  cursor: pointer;
background-image: url(../assets/images/arrow1.png);
height: 40px;
width: 40px;
margin: 0 15px;
background-position: center;
background-repeat: no-repeat;
background-size: contain;
border: none;
background-color: transparent;

}

button.next:hover {
transform: scale(1.2)
}

button.next:active{
background-image: url(../assets/images/arrow2.png);
transform: scale(1.1) 
}



.ball-container-sphere {

 height: 100px;
 display: inline-block;
  // width: 3vw *2;
  background-color: transparent;
  box-shadow:  100px 100px  #1982A1;
    // box-shadow: inset 50px 100px 100px  black;
  border: 2px solid black;
}


.skills-button-wrapper {
  // height: 170px;
  // padding-top: 60px;
  // background-color: green;
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .skill-button-container {
    scale: 0.8;
    overflow: visible;
  text-align: center;
  display: flex;
  // margin: 0px 1px;
flex-direction: column;
font-size: 1em;
padding: 0 1px 2px;
margin-top: -10px
;
  }

.scroll-button-wrapper {
    padding-bottom: 15px;
    margin-top: -50px;
  display: flex;
flex-direction: row;
justify-content: center;
  position: relative;
  z-index: 1;
}
}

  @media screen and (min-width: 481px) {
.skill-button-container {
  overflow: visible;
  text-align: center;
  display: flex;
  margin: 0px 2px;
flex-direction: column;
font-size: 1.2em;
padding: 0 3px 20px
}
.scroll-button-wrapper {
    padding-bottom: 15px;
    padding-top: 2px;
  display: flex;
flex-direction: row;
justify-content: center;
  position: relative;
  z-index: 1;
}}






.skill-button {
     will-change: transform;
  overflow: visible;
  cursor: pointer; ;
  min-height: 50px;
  min-width: 50px;
  max-height: 50px;
  max-width: 50px;
  height: $size;
  width: $size;
  margin: 0px 1.2vw 12px 1.2vw;
  text-align: center;
  border-radius:500px;
	background-repeat:no-repeat;
  background-position: center;
	background-size:cover;
  box-shadow: inset -10px -6px 10px rgba(0,0,0,.3);
  border: 1.5px solid black;
   position: relative;
  z-index: 6;
}



// .skill-button:active {
//   scale: .95;
//   filter: brightness(.9);
// }


.un-selected {
  overflow: visible;
 animation: unselected  .45s ease-in-out  1 normal forwards;
}

.skill-is-selected {
 animation: skill-is-selected  .2s ease-in-out 1 normal forwards;
}

.skill-is-not-selected {
 animation: skill-is-not-selected  .2s ease 1 normal forwards;
 
}

.not-selected {
 max-height: 50px;
  max-width: 50px;
   will-change: filter; 
  text-align: center;
	background-repeat:no-repeat;
  background-position: center;
	background-size:cover;
  border: none;
  z-index: 2;
 animation: notselected  .45s ease-in-out  1 normal forwards;
}



#ReactJS {
  background-image: url(../assets/skills/react.png);
}
#JavaScript {
  background-image: url(../assets/skills/javascript.png);
}
#SASS {
  background-image: url(../assets/skills/sass.png);
}
#HTML5 {
  background-image: url(../assets/skills/html.png);
}
#Python {
  background-image: url(../assets/skills/python.png);
}
#PostgreSQL {
  background-image: url(../assets/skills/postgresql.png);
}
#Django {
  background-image: url(../assets/skills/django.png);
 background-size: 102%;
}
#Bulma {
   background-image: url(../assets/skills/bulma.png);
}
#Express {
     background-image: url(../assets/skills/express.png);
}
#MongoDB {
     background-image: url(../assets/skills/mongodb.png);
    //  position: relative;;
    //  z-index: -2;
}
#CSS {
     background-image: url(../assets/skills/css.png);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}





@keyframes skill-is-selected {
    0% {box-shadow:   0px 0px 0px 0px rgb(255, 255, 255)}
  100% {box-shadow:   0px 0px 10px 8px rgb(255, 255, 255)}
}

@keyframes skill-is-not-selected {
    0% {box-shadow:   0px 0px 10px 8px rgb(255, 255, 255)}
    
    95% {box-shadow:   0px 0px 5px 0px rgb(255, 255, 255);
    }
99% {box-shadow:   0px 0px .1px 0px rgb(255, 255, 255)}

    100% {
      box-shadow:   0px 0px 0px 0px rgb(255, 255, 255);
      transform: scale(1);
    }
}

@keyframes notselected {
  0% {
    border: 1.5px solid black;
    filter: brightness(85%) blur(0px)
  }
  20%{ 
     filter: brightness(85%) blur(.7px);
      transform: scale(1);
  }
   40% {
  filter: brightness(85%) blur(2px);
   transform: scale(0.8);
}
50% {
   transform: scale(0.6);
}
   55% {
     transform: scale(0.7);
   }
   70% {
     transform: scale(0.95);
   }
   85% {
     transform: scale(1.1);
   }
   100% {
     transform: scale(1);
    border-top: 25px solid red;
     border-bottom: 23px solid white;
     position: relative;
      filter: brightness(100%) blur(3px) opacity(.6) ;
  }
  
}
@keyframes unselected {
   0% {
    border-top: 25px solid red;
     border-bottom: 24px solid white;
    //  position: relative;
      filter: brightness(100%) blur(3px)  opacity(.6) ;
  }
  15%{ 
     
      transform: scale(1);
  }
   40% {
  filter: brightness(85%) blur(2px)  opacity(.6) ;
  transform: scale(0.8)
}
50% {
   transform: scale(0.6);
}
 55% {
     transform: scale(0.65);
   }
   60%{ 
     filter: brightness(85%) blur(.7px)
  }
   70% {
     transform: scale(0.95);
   }
   80% {
     transform: scale(1.15);
   }
     85% {
     transform: scale(1.1);
       filter: brightness(95%) blur(.3px)
   }
  100% {
      border: 1.5px solid black;
    filter: brightness(100%) blur(0px);
      transform: scale(1);
     
         overflow: visible;
  }
}



.ball-line-container {
 display: none;
    overflow: visible;
  flex-direction: row;;
  //  animation: linewrap2  1s ease  1 normal forwards;
}

.ball-line-1 {
 background-color: black;
  height: 4px;
      // overflow: visible;
 animation: linewrap  .6s ease  1 normal forwards;
}
.ball-circle{
  // height: 24px;
 animation: ball  .45s ease .28s 1 normal forwards;
//  position: relative;
    // overflow: visible;
 z-index: 1;

}


.ball-line-2 {
  // position: relative;
      // overflow: visible;
 background-color: black;
  height: 4px;
 animation: linewrap  .6s ease  1 normal forwards;
}

@keyframes ball {
  20% {
       width: 0px;
   height: 0px;
 background-color: white;
 filter: opacity(40%);
 border: 15px black;
     border-radius: 50%;
  margin: -8px;
  }

  31% {
   width: $size;
   height: 24px;
filter: opacity(40%);
 background-color: white;
 border:7px black;
     border-radius: 50%;
  margin: -8px;
  }
  60%{
    filter: opacity(40%);
  }
   100% {
   width: $size;
   height: 24px;
   filter: opacity(100%);
 background-color: white;
 border: 3px black solid;
     border-radius: 50%;
  margin: -8px;
  }
  
  
}

@keyframes linewrap {
  0% {
    width: 0px;
    filter: blur(100%);
  }
   58% {
    width: 0px;
    display: 100%;
  
  }
  
   59% {
    width:  $size;
    display: 100%;
  
  }
60% {
  display: flex;
    width: $size
  }
  100% {
    width:  $size;
    display: flex;
  }
  
}

@keyframes linewrap2 {
  0% {
    width: 0px
  }
  59% {
    width: 0px
  }
   60% {
    width: $size
  }
  100% {
    width: $size
  }
  
}
